.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.25rem;
}

caption {
  font-size: 24px;
  background-color: #465457;
  color: white;
  padding: 1rem 0;
}

table,
th,
td {
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
  font-size: 1.25rem;
}

table {
  width: 100%;
}

th {
  height: 60px;
  background-color: #465457;
  color: white;
}

td {
  height: 40px;
  background-color: #e7eeef;
}
