.header {
  background-color: #465457;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

#text a {
  margin-right: 1.25rem;
  color: white;
  text-decoration: none;
}

.row-m {
  display: flex;
  min-height: 180px;
  background-color: white;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.box {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.text_M {
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: #465457;
  padding-top: 20px;
  padding-bottom: 20px;
}

.value {
  background-color: #dbe1e2;
  min-height: 100px;
  display: flex;
}
