.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.form form {
  max-width: 100%;
}

.search-input {
  width: 100%;
  height: 175px;
  padding: 1rem;
  background-color: #d3dcde;
  border-radius: 15px;
  font-size: 1.5rem;
  border: none;
  box-sizing: border-box;
  resize: none;
}

.search-input:focus {
  background-color: #b7ccd1;
  transition-duration: 300ms;
  outline: none;
}

.submit-btn {
  width: 100%;
  height: 60px;
  background: #465457;
  border-radius: 8px;
  font-size: 1.25rem;
  color: white;
  border: none;
}

.submit-btn:hover {
  background-color: #313839;
  cursor: pointer;
  transition-duration: 500ms;
}

.reset-button {
  background-color: #d92222;
  margin-top: 0.33rem;
}

.reset-button:hover {
  background-color: #ad2525;
  transition-duration: 500ms;
  cursor: pointer;
}
